<!DOCTYPE html>
<html>
<head>
	<title>Remove history</title>
</head>
<body>
<h2>ARE YOU SURE YOU WANT TO REMOVE YOUR HISTORY? IF YES, ENTER YOUR USERNAME : ELSE GO BACK TO PORTAL!</h2>

<form method= "POST" action="/confirm_delete_user_info">
<br><div>Enter Username  : 
				<input type = "text" name ="UserName"><br>
			</div>


<br><div><input type = submit value= 'Delete history' name = 'delete_history'>
	</div></a>


<br><div><a href= "/portal"> <input type = submit value= 'Go to your portal' name = 'Redirect_to_portal'>
	</div></a>

</form>


</body>
</html>







