<!DOCTYPE html>
<html>
<head>
	<title>Profanity alert</title>
</head>
<body>
<h2>You have entered high profanity data. Refrain from using language that could hurt community sentiments. You have limited warnings until your account gets deleted.</h2>
<br>
<br>
<h3> To refer to our community standards - look up the dictionary relevant to the Algorithmia database</h3>
<br>


<br><div><a href= "/"> <input type = submit value= 'Go back to Home Page' name = 'Redirect_to_homepage'>
	</div></a>



	

</body>
</html>


