<!DOCTYPE html>
<html>
<head>
	<title>Login unsuccessful!</title>
		<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png"  href= "{{ url_for('static',filename='Login_v10/images/icons/favicon.ico') }}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='Login_v10/vendor/bootstrap/css/bootstrap.min.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='Login_v10/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='Login_v10/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Login_v10/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body style="background-image: url({{ url_for('static',filename='Login_v10/movies-made-great-white-north.jpg') }});background-repeat: no-repeat; background-size: cover;">

<div class="limiter" >
					<div class="container-login100">
						<div class="wrap-login100 p-t-50 p-b-90" style="padding-left:10px; padding-right:10px;">
							<form class="login100-form validate-form flex-sb flex-w" >
								<span class="login100-form-title p-b-51">
									Wrong details have been entered- Login unsuccessful!
								</span>

								

								<div class="container-login100-form-btn m-t-17">
								<a href = '/' class="login100-form-btn"></input type = submit value= 'Go to your portal' name = 'Redirect_to_portal'>Go Back to home page
								</a></div>




							</form>
						</div>
					</div>
				</div>
		


<div>


	

</body>
</html>

